/* Variables de la web */
:root {
    /* COLORS */
    /*Light mode*/
    --color-light-primary: rgba(250, 245, 239, 0.5);
    --color-light-secondary: rgba(254, 245, 240, 1);
    --color-light-terciary: rgba(94, 72, 60, .4);
    --color-light-highlight: rgba(152, 76, 34, .4);
    --color-light-highlight-menu: rgba(152, 76, 34, .2);
    --color-header: rgba(79, 40, 11, 1);
    --color-header-transp: rgba(79, 40, 11, .6);

    /* Dark mode */
    --color-dark-primary: rgba(34, 34, 34, 1);
    --color-dark-secondary: rgb(46, 45, 45);
    --color-dark-terciary: rgba(94, 72, 60, .4);
    --color-dark-highlight: rgba(157, 122, 165, .8);

    /* FONTS */
    --header-font: 'Montserrat', 'Open Sans', 'Helvetica Neue', sans-serif;
    --header-font-size: 60px;
    --header-font-weight: bold;

    --subtitle-font: 'Englebert', 'Open Sans', 'Helvetica Neue', sans-serif;

    --subheader-font: Inter, 'Open Sans', 'Helvetica Neue', sans-serif;
    --subheader-font-size: 18px;
    --subheader-font-weight: bold;

    --button-font: 'Lato', sans-serif;

    --text-font: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    --text-font-size: 16px;

    --subtext-font-size: 14px;
}

/* Generales */
body {
    min-width: 400px;
}

/* Botones */

.btn {
    padding: 2px 4px;
    border: none;
}

.btn-primary {
    background-color: var(--color-header-transp);
}

.btn-primary:hover {
    background-color: var(--color-light-highlight-menu);
}

.btn-menu {
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
    background: var(--color-header-transp);
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid var(--color-header-transp);
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 white;
    min-width: 200px;
}

.btn-menu:hover {
    color: #423029;
    box-shadow: inset 0 -100px 0 0 white;
    border: 2px solid var(--color-header-transp);
}

.btn-menu:active {
    transform: scale(0.9);
}

/* Dark mode */

.dark {
    background-color: var(--color-dark-primary);
    color: rgba(245, 245, 245, 1);
}

.dark .navbar-brand {
    color: rgba(245, 245, 245, 1);
}

.dark .navbar {
    background-color: var(--color-dark-secondary);
}

.dark label{
    color: var(--color-dark-primary);
}

.dark .form-container{
    box-shadow:rgba(255, 255, 255, 0.176) 0px 16px 48px 0px ;
}

.dark button.btn.btn-outline-light.me-2 a {
    color: rgba(245, 245, 245, 1);
}

.dark button.btn.btn-outline-light.me-2 {
    color: rgba(108, 102, 133, 1);
}

.dark h2 {
    color: rgba(245, 245, 245, 1);
}

.dark .btn {
    background-color: rgba(108, 102, 133, 1);
}

.dark .fa-toggle-on {
    color: rgba(108, 102, 133, 1);
}

.dark .navbar .nav-link {
    color: rgba(245, 245, 245, 1);
}

.fa-toggle-on {
    font-size: 1.5em;
    color: var(--color-dark-primary);
    cursor: pointer;
}

/* Nav-bar */
.navbar {
    font-family: var(--header-font);
    padding: 8px 2px 0 2px;
    margin: 0;
    background-color: var(--color-light-primary);
}

.navbar-menu-principal {
    padding: 0 0 8px 0;
}

.nav-item {
    margin: 1px;
}

.nav-link {
    padding-top: 1.25rem;
    font-size: 1.5rem;
}

.nav-link:hover {
    color: var(--color-header);
}

.navbar-toggler:focus {
    box-shadow: none;
}

.btn-outline-light {
    font-size: 1.25rem;
}

a {
    text-decoration: none;
    font-family: var(--subheader-font);
    color: var(--color-dark-primary);
}

ul {
    list-style-type: none;
}

.btn-outline-light:hover {
    background-color: var(--color-light-highlight);
}

.dropdown-menu-recetas {
    width: fit-content;
    margin: auto;
}

/* Galery menus */
.container-menu {
    background: url('../img/rsz_natural-wooden-background.jpg');
    padding: 6rem 0 6rem 0;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.h2-seccion-division {
    margin: 80px 0 20px 0;
    font-family: var(--subtitle-font);
    color: var(--color-header);
}

.image-link {
    position: relative;
    display: block;
}

.image-link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(85, 62, 60, 0.4);
}

.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 0;
}

.card-img-contact {
    width: 100px;
    height: 100%;
    object-fit: cover;
}

.image-caption {
    position: absolute;
    top: 50%;
    color: rgba(255, 255, 255, 1);
    z-index: 1;
    cursor: pointer;
    padding: 0;
}

.card-title {
    background: rgba(66, 49, 37, 0.5);
    min-width: 300px;
    text-align: center;
    padding: 15px;
    font-size: 2rem;
}

.card-menu {
    overflow: hidden;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border: none;
}

.card-menu:hover {
    background-color: var(--color-light-highlight);
}

.card-menu:hover .card-img-top {
    transform: scale(1.2);
}

.card-menu:hover .image-link::after {
    background: rgba(80, 37, 27, .5);
}

.card-menu:hover a {
    filter: blur(.5px);
    -webkit-filter: blur(.5px);
}

/* Menu de recetas */
.card-recetas {
    background-color: var(--color-dark-highlight);
    border: none;
}

.card-recetas:hover .image-link-recetas::after {
    background-color: rgba(90, 62, 49, 0.6);
}

.image-link-recetas::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(97, 71, 70, 0.4);
}

/* Pagina receta */
.card-img-top-pagina-receta {
    min-width: min-content;
    width: 400px;
    margin: 1rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.container-recipe {
    font-family: var(--text-font);
    background-color: var(--color-light-primary);
    margin: 100px auto 50px auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: var(--bs-box-shadow-lg);
}

.container-recipe h2, .container-recipe h1 {
    font-family: var(--header-font);
}

.container-recipe ul {
    list-style-type: circle;
}

/* Admin */
.card-img-top-recetas-admin {
    width: fit-content;
    padding: 25px;
}

.image-link-recetas-admin {
    background-color: rgba(255, 255, 255, 1);
}

.btn-primary-admin:hover {
    background-color: var(--color-header-transp);
}

/* Headers */
.cover-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    text-shadow: .25em .25em .5em rgba(122, 115, 115, .8);
    position: relative;
}

.cover-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.cover-container h1 {
    font-family: var(--header-font);
    font-weight: 800;
    font-size: 8vw;
    color: var(--color-header);
    position: relative;
    width: 100%;
    z-index: 2;
    margin: 0;
    margin-left: 0;
    padding: 0;
}

.cover-container h3 {
    font-family: var(--subtitle-font);
    color: var(--color-header);
    margin: 0;
    z-index: 2;
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 2vw;
}

/* Forms */
.header-form {
    font-family: var(--header-font);
}

.p-form {
    font-family: var(--text-font);
    font-size: 1rem;
}

.form-select {
    position: relative;
    z-index: 1;
}

.form-control {
    padding-top: 5px;
}

/* Contact */
.container-contact {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url('../img/cocina2.jpg');
    background-size: cover;
    background-position: center;
}

.container-contact::before {
    content: "";
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.transparent-card {
    background: rgba(170, 170, 170, 0.2);
    border-radius: 15px;
    padding: 20px;
    font-family: var(--header-font);
    color: var(--color-light-secondary);
}

.container-contact a, .container-contact p, .container-contact h1 {
    color: var(--color-light-secondary);
    text-shadow: .25em .25em .5em rgba(2, 1, 1, 0.8);
}

.container-contact a {
    font-family: var(--subheader-font);
    
}

.form-container{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Botón de volver arriba */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(223, 132, 80, 1);  
    color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    display: none;
}

.back-to-top:hover {
    background-color: rgba(148, 106, 50, 1);  
}

/* Botón de modo oscuro */

.toggle-switch {
    position: relative;
    width: 80px;
    height: 30px;
    --light: #dfe0d8;
    --dark: var(--color-header-transp);
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
}

.switch-label {
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: var(--dark);
    border-radius: 25px;
    cursor: pointer;
    border: 3px solid var(--dark);
}

.checkbox {
    position: absolute;
    display: none;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked~.slider {
    background-color: var(--light);
}

.slider::before {
    content: "";
    position: absolute;
    left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
    box-shadow: inset 12px -4px 0px 0px var(--light);
    border: var(--dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked~.slider::before {
    -webkit-transform: translateX(38px);
    -ms-transform: translateX(38px);
    transform: translateX(38px);
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-transform: translateX(38px);
    -o-transform: translateX(38px);
}