/* Variables de la web */

:root {
    /* COLORS */
    /*Light mode*/
    --color-light-primary: rgba(250, 245, 239, 0.5);
    --color-light-secondary: rgba(254, 245, 240, 1);
    --color-light-terciary: rgba(94, 72, 60, .4);
    --color-light-highlight: rgba(152, 76, 34, .4);
    --color-light-highlight-menu: rgba(152, 76, 34, .2);
    --color-header: rgba(79, 40, 11, 1);
    --color-header-transp: rgba(79, 40, 11, .6);

    /* Dark mode */
    --color-dark-primary: rgba(34, 34, 34, 1);
    --color-dark-secondary: rgba(45, 45, 45, 1);
    --color-dark-terciary: rgba(94, 72, 60, .4);
    --color-dark-highlight: rgba(157, 122, 165, .8);

    /* FONTS */

    --header-font: 'Montserrat', 'Open Sans', 'Helvetica Neue', sans-serif;
    --header-font-size: 60px;
    --header-font-weight: bold;

    --subtitle-font: 'Englebert', 'Open Sans', 'Helvetica Neue', sans-serif;

    --subheader-font: Inter, 'Open Sans', 'Helvetica Neue', sans-serif;
    --subheader-font-size: 18px;
    --subheader-font-weight: bold;

    --button-font: 'Lato', sans-serif;


    --text-font: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    --text-font-size: 16px;

    --subtext-font-size: 14px;

}

/* Generales */

body {
    min-width: 400px;
}

.btn {
    padding: 2px 4px;
    border: none;
}

.btn-primary {
    background-color: var(--color-header-transp);
}

.btn-primary:hover {
    background-color: var(--color-header);
}

/*Nav-bar*/
.navbar {
    font-family: var(--header-font);
    padding: 8px 2px 0 2px;
    margin: 0;
    background-color: var(--color-light-primary);
}

.navbar-menu-principal{
    padding: 0 0 8px 0;
}

.nav-item{
    margin: 1px;
}

.nav-link{ 
    padding-top: 1.25rem;
    font-size: 1.5rem;;
}

.nav-link:hover {
    color: var(--color-header);
}

.navbar-toggler:focus{
    box-shadow: none;
}

.btn-outline-light {
    font-size: 1.25rem;
}


a {
    text-decoration: none;
    font-family: var(--subheader-font);
    color: var(--color-dark-primary);
}

ul {
    list-style-type: none;
}

.btn-outline-light:hover {
    background-color: var(--color-light-highlight);
}

.dropdown-menu-recetas{
    width: fit-content;
    margin: auto;
}


/* Galery menus*/

.container-menu {
    background: url('../img/rsz_natural-wooden-background.jpg');
    padding: 6rem 0 6rem 0;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.h2-seccion-division {
    margin: 80px 0 20px 0;
    font-family: var(--subtitle-font);
    color: var(--color-header);
}

.image-link {
    position: relative;
    display: block;
}

.image-link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(77, 44, 42, 0.4);
}

.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 0;

}

.card-img-contact {
    width: 100px;
    height: 100%;
    object-fit: cover;
}

.image-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(7, 7, 7, 0.5);
    color: white;
    z-index: 1;
}

.card-menu {
    overflow: hidden;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border: none;
}

.card-menu:hover {
    background-color: var(--color-light-highlight);
}

.card-menu:hover .card-img-top {
    transform: scale(1.2);
}

.card-menu:hover .image-link::after {
    background: rgba(122, 50, 32, 0.5);
}

.card-menu:hover a {
    filter: blur(1px);
}

.card-img-top-recetas {
    position: relative;
}

.card-title-recetas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.col{ 
    margin: 0;
    padding: 0;
    border: none;
}


/* Headers */

.cover-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: left;
    text-shadow: .25em .25em .5em rgba(122, 115, 115, 0.8);
    position: relative;
    
}

.cover-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.cover-container h1 {
    font-family: var(--header-font);
    font-weight: 800;
    font-size: 8vw;
    color: var(--color-header);
    position: relative;
    width: 100%;
    z-index: 2;
    margin: 0;
    margin-left: 0;
    padding: 0;
}

.cover-container h3 {
    font-family: var(--subtitle-font);
    color: var(--color-header);
    margin: 0;
    z-index: 2;
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 2vw;
}

/* Forms */

.header-form {
    font-family: var(--header-font);
}

.p-form {
    font-family: var(--text-font);
    font-size: 1rem;
}

.form-select {
    position: relative;
    z-index: 1;
}

.form-control {
    padding-top: 5px;
}

/* Contact */

.container-contact {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url('../img/cocina2.jpg');
    background-size: cover;
    background-position: center;

}

.container-contact::before {
    content: "";
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); 
}

.transparent-card{
    background: rgba(170, 170, 170, 0.2);
    border-radius: 15px;
    padding: 20px;
    font-family: var(--header-font);
    color: var(--color-light-secondary);
}

.container-contact a, .container-contact p, .container-contact h1{
    color: var(--color-light-secondary);
    text-shadow:.25em .25em .5em rgba(2, 1, 1, 0.8);
}

.container-contact a{ 
    font-family: var(--subheader-font);
}
