/* Variables de la web */

:root {
    /* COLORS */
    /*Light mode*/
    --color-ligth-primary: rgba(245, 245, 245, 1);
    --color-light-secondary: rgba(254, 245, 240, 1);
    --color-light-terciary: rgba(94, 72, 60, .4);
    --color-light-highlight: rgba(152, 76, 34, .4);
    /* Dark mode */
    --color-dark-primary: rgba(34, 34, 34, 1);
    --color-dark-secondary: rgba(45, 45, 45, 1);
    --color-dark-terciary: rgba(94, 72, 60, .4);
    --color-dark-highlight: rgba(157, 122, 165, .8);

    /* FONTS */

    --header-font: 'Mount', sans-serif;
    --header-font-size: 24px;
    --header-font-weight: bold;

    --subheader-font: 'Poppins Regular', sans-serif;
    --subheader-font-size: 20px;
    --subheader-font-weight: bold;


    --text-font: Roboto, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
    --text-font-size: 16px;

    --subtext-font-size: 14px;

}

/*Dark-Light controller*/
.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}

/*Nav-bar*/
.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}