{% extends './base.html' %}

{% block title %}Contacto{% endblock %}

<body class="w-100">

    {% block content %}

    <main class="d-flex flex-column justify-content-center align-items-center">
        <div class="formulario_contacto container container-recipe gap-4 d-flex justify-content-center align-items-center flex-column p-5 mb-3">
            <h3>Escríbenos un email con tus sugerencias</h3>
            <p>Ya sea para nuevas ideas de recetas o para hacernos saber cómo
                podemos mejorar.</p>
            <section class="formulario_contacto_section">
                <form action="https://formspree.io/f/xvoenbzy" method="POST" class="formulario_contacto mt-4">
                    <div class="formulario_contacto_input">
                        <input autocomplete="off" type="text" name="name" required>
                        <label for="name">Nombre</label>
                    </div>
    
                    <div class="formulario_contacto_input">
                        <input autocomplete="off" name="email" type="text" required>
                        <label for="email">E-mail</label>
                    </div>
    
                    <div class="formulario_contacto_input">
                        <textarea cols="30" rows="3" id="message" name="message" required></textarea>
                        <label for="message">Tu mensaje</label>
                    </div>
                    <button class="mt-2">Enviar →</button>
                </form>
            </section>
        </div>
    
    
        <button class="btn btn-primary btn-menu btn-lg p-3 m-3"><a href="/home">Volver</a></button>
    </main>
{% endblock %}