{% extends './base.html' %}

{% block title %}Crispy Kitchen - Inicio{% endblock %}

<body class="w-100">
{% block content %}

<section class="cover-container d-flex w-100 h-auto mx-auto flex-column position-relative">
    <img src="{{ url_for('static', filename='img/hero.jpg') }}" class="w-100" alt="banco de cocina con utensilios">
    <div class="text-container">
        <h1 class="hero-title lh-sm">COOK,</br>EAT,</br>REPEAT!</h1>
        <h3 class="hero-subtitle">¿Quién dijo que comer sano es aburrido?</h3>
    </div>
</section>

<section>
    <h2 class="h2-seccion-division text-center">&#8668; NUESTRO MENÚ &Rarrtl; </h2>
</section>

<section class="container-menu" id="recetas_seccion">
    
    <div class="container-fluid">
        <div class="row no-gutters">
            {% set column_sizes = ['6', '6', '5', '7', '7', '5'] %}
            {% for seccion in secciones %}
            <div class="col-lg-{{ column_sizes[loop.index0 % 6] }} col-md-{{ column_sizes[loop.index0 % 6] }} col-sm-{{ column_sizes[loop.index0 % 6] }} p-0">
                <article class="card card-menu recetas_seccion m-0">
                    <section class="card-body image-caption text-start">
                        <h3 class="card-title">{{ seccion['nombre_seccion'] }}</h3>
                    </section>
                    <a href="{{ url_for('get_section', id=seccion.id_seccion) }}" class="image-link">
                        <img class="card-img-top" src="{{ url_for('static', filename='img/img_secciones/' + seccion['imagen_seccion']) + '.jpg' }}">
                    </a>
                </article>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section>
    <h2 class="h2-seccion-division text-center">&#8668; DÓNDE ENCONTRARNOS &Rarrtl; </h2>
</section>

<section class="container-contact" id="contact">  
    <section class="d-flex flex-column min-vh-100 bg-black bg-opacity-50 pt-10 pt-md-8 pb-7 pb-md-0">
        <div class="container my-auto">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-6 text-center transparent-card shadow-lg">
                    <div class="text-xs text-shadow fw-bold text-opacity-75">
                        <h1 class="text-shadow mb-4">Nuestras redes</h1>
                    </div>
                    <p class="text-center text-shadow fw-semibold text-opacity-85 mb-7">
                    Te dejamos los datos de las redes sociales y contacto.
                    </p>
                    <p class="text-center text-shadow fw-semibold text-opacity-85 mb-7">Si lo prefieres, puedes escribirnos a través de nuestro formulario 
                        <a class="anchor_text" href="/contact_form">pinchando AQUÍ</a>
                    </p>
                    <div class="text-shadow fw-medium mb-7 mb-md-0">
                        <a class="text-shadow p-1" href="mailto:crispy.kitchen.app@gmail.com"><i class="bi bi-envelope mr-2"></i>
                            Gmail
                        </a>
                        <a class="text-shadow fw-medium p-1" href="https://www.instagram.com/crispy-kitchen-app"> <i class="bi bi-instagram"></i>
                            Instagram
                        </a>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-center input-group mb-7 mb-md-0">
                        <span class="email-text"><a class="text-shadow fw-medium p-2" href="mailto:crispy.kitchen.app@gmail.com" id="emailLink">crispy.kitchen.app@gmail.com</a></span>
                        <button id="copyEmail" class="bi bi-clipboard" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Click para copiar"></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>


{% endblock %}
{% block footer %}
<a href="#" id="back-to-top" class="back-to-top">
    <i class="fas fa-arrow-up"></i>
</a>
{% endblock %}