{% extends './base.html' %}

{% block title %}Crispy Kitchen - Inicio{% endblock %}


{% block content %}
<section class="cover-container d-flex w-100 h-auto mx-auto flex-column position-relative">
    <img src="{{ url_for('static', filename='img/hero.jpg') }}" class="w-100" alt="banco de cocina con utensilios">
    <div class="text-container">
        <h1 class="hero-title">COOK,</br>EAT,</br>REPEAT!</h1>
        <h3 class="hero-subtitle">¿Quién dijo que comer sano es aburrido?</h3>
    </div>
</section>

<section>
    <h2 class="h2-seccion-division text-center">&#8668; NUESTRO MENÚ &Rarrtl; </h2>
</section>

<section class="container-menu" id="recetas_seccion">
    
    <div class="container-fluid">
        <div class="row no-gutters">
            {% set column_sizes = ['6', '6', '5', '7', '7', '5'] %}
            {% for seccion in secciones %}
            <div class="col-lg-{{ column_sizes[loop.index0 % 6] }} col-md-{{ column_sizes[loop.index0 % 6] }} col-sm-{{ column_sizes[loop.index0 % 6] }} p-0">
                <article class="card card-menu recetas_seccion m-0">
                    <figcaption class="card-body image-caption">
                        <h3 class="card-title">{{ seccion['nombre_seccion'] }}</h3>
                    </figcaption>
                    <a href="{{ url_for('get_section', id=seccion.id_seccion) }}" class="image-link">
                        <img class="card-img-top" src="{{ url_for('static', filename='img/img_secciones/' + seccion['imagen_seccion']) + '.jpg' }}">
                    </a>
                </article>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}