{% extends 'base.html' %}

{% block title %}Perfil de Usuario{% endblock %}

{% block content %}
<div id="popup" class="alert alert-success" style="display: none;"></div>

<div class="container">
    <h2 class="text-center">Perfil de {{ current_user.name }}</h2>
    <p><strong>Nombre:</strong> {{ current_user.name }}</p>
    <p><strong>Correo Electrónico:</strong> {{ current_user.email }}</p>
    <h3>Recetas Favoritas:</h3>
    <ul>
        {% for recipe_name in current_user.favorite_recipes %}
            <li>{{ recipe_name }}</li>
        {% endfor %}
    </ul>
</div>


{% endblock %}
{% block customJS %}
<script src="{{ url_for('static', filename='js/popup.js') }}"></script>
{% endblock %}