{% extends './base.html' %}

{% block title %}{{ seccion['nombre_seccion'] }}{% endblock %}

{% block content %}

<div class="container">
    <h1 class="text-center p-3">Recetas {{ seccion['nombre_seccion'] }}</h1>
    <div class="row no-gutters row-cols-2 row-cols-md-3 row-cols-lg-3 m-0">
        {% for receta in recetas %}
        <div class="col">
            <div class="card mb-4">
                <a href="{{ url_for('get_recipe', id=receta.id_receta) }}">
                    <img src="{{ url_for('static', filename='img/img_recetas/' + receta['imagen_receta']) }}"
                        class="card-img-top-recetas" alt="{{ receta['nombre_receta'] }}">
                </a>
                <div class="card-body">
                    <h2 class=" card-title-recetas text-lg font-semibold">{{ receta['nombre_receta'] }}</h2>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="w-100 btn btn-primary" onclick="goBack()">Volver</button>
</div>
{% endblock %}