{% extends 'base.html' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center">Iniciar Sesión</h2>
    <form method="post" action="{{ url_for('login') }}">
        <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
    </form>
</div>
<div>¿No tienes cuenta? <a href="{{ url_for('auth/signup.html') }}">Regístrate</a></div>
{% endblock %}