{% extends './base.html' %}

{% block title %}Registro{% endblock %}

{% block customCSS %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"">

{% endblock %}

{% block content %}

<main class="form-signin w-100 m-auto">
    <h2 class="text-center">Registro</h2>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <form class="form-signin text-center" method="post" action="{{ url_for('register') }}">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="name" name="name" required>
            <label for="name">Nombre</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" name="email" required>
            <label for="email">Correo Electrónico</label>
        </div>
        <div class="form-floating mb-3">
            <input type="passwrd" class="form-control" id="passwrd" name="passwrd" required>
            <label for="passwrd">Contraseña</label>
        </div>
        <div class="form-floating mb-3">
            <input type="passwrd" class="form-control" id="confirm_passwrd" name="confirm_passwrd" required>
            <label for="confirm_passwrd">Confirmar Contraseña</label>
        </div>
        <button type="submit" class="btn btn-primary">Registrarse</button>
    </form>
</main>
{% endblock %}