{% extends './base.html' %}

{% block title %}Envía tu receta{% endblock %}
{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"">
{% endblock %}

{% block content %}
<div class="container-form">
    <form class="form-control" action="/user_recipes" method="post">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        </br>
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% if mensaje %}
        <p>{{ mensaje }}</p>
        {% endif %}
        <h1>Envía tus recetas</h1>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <div class="mb-3">
            <label for="exampleInputName" class="form-label">Nombre de la receta</label>
            <input type="text" class="form-control" id="exampleInputName" name="txtRecipeName">
        </div>
        <div class="mb-3">
            <label for="exampleInputReceta" class="form-label">Receta</label>
            <textarea class="form-control" id="exampleInputReceta" name="txtRecipe"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
{% endblock %}